.donate {
  margin: 56px 0;

  & .wrapper {
    display: flex;
    align-items: flex-start;
    gap: 24px;

    & .paragraph-wrapper {
      line-height: 1.5;
      width: 60%;

      & h2 {
        font-size: 1.5rem;
        line-height: 1;
        margin: 0 0 1rem;
      }
    }

    & figure {
      margin: 2.5rem 0 0 0;

      & img {
        width: 240px;
        height: 240px;
      }
    }
  }
}
