.detail-view-wrapper {
  display: flex;
  gap: 40px;

  & article {
    width: 100%;

    & .list {
      background-color: hsl(217, 32%, 8%);
      padding: 16px;
      border-radius: 32px;

      & h1 {
        margin: 0 0 1rem 0;
        text-align: center;
        display: none;
      }

      & .item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }

        background-color: hsl(217, 32%, 10%);
        padding: 16px;
        border-radius: 16px;
        gap: 16px;

        & figure {
          margin: 0;

          & img {
            width: 80px;
            aspect-ratio: 1 / 1;
          }

          & figcaption {
            font-size: 1.25rem;
            font-family: 'LXGW WenKai Screen';
            line-height: 1.25;
            text-align: center;
            margin-top: 0.25em;
          }
        }

        & .description {
          line-height: 1.5;
          font-family: 'LXGW WenKai Screen';
          text-align: justify;
          margin: 0;
        }

        & tbody {
          & > tr > td {
            padding: 0 0.25em 0.25em 0;

            &:last-child {
              text-align: right;
              padding-right: 0;
              font-family: var(--monospace);
            }
          }
        }
      }
    }
  }

  & aside {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    & nav {
      display: flex;
      flex-direction: column;
      background-color: #0e131b;
      border-radius: 8px;
      padding: 4px;

      & a {
        display: flex;
        gap: 0.5em;
        align-items: center;
        padding: 0.5em;
        border-radius: 4px;
        color: inherit;
        text-decoration: unset;
        font-weight: bold;
        opacity: 0.7;
        transition: all 0.2s;
        cursor: pointer;

        &:hover {
          background-color: #111822;
          opacity: 1;
        }

        &[data-name='subscribe'] {
          color: #647f04;
        }

        & img {
          width: 24px;
          height: 24px;
          opacity: 0.7;

          &[data-name='steam'] {
            transform: scale(0.92);
          }
        }
      }
    }

    & figure {
      margin: 0;

      & img {
        display: block;
        width: 100%;
        aspect-ratio: 16 / 9;
        border-radius: 8px;
      }
    }
  }
}
