.summary {
  display: flex;
  gap: 32px;
}

.summary .paragraph-wrapper {
  font-size: 16px;
  line-height: 1.5;
  flex: 1;
}

.summary .paragraph-wrapper h1 {
  font-size: 1.5rem;
  line-height: 1;
  margin: 0 0 1rem;
}

.summary .paragraph-wrapper .button {
  color: white;
  text-decoration: unset;
  font-weight: bold;
  cursor: pointer;
}

.summary .paragraph-wrapper .button:hover {
  text-decoration: underline;
}

.summary .cover-wrapper {
  flex: 1.5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.summary .cover-wrapper img {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 4px;
  vertical-align: top;
}

@media (max-width: 425px) {
  .summary {
    flex-direction: column;
  }

  .summary .cover-wrapper {
    display: none;
  }
}
