.summary {
  display: flex;
  align-items: self-start;
  gap: 32px;

  @media (max-width: 425px) {
    & {
      flex-direction: column;
    }
  }

  & .paragraph-wrapper {
    font-size: 16px;
    line-height: 1.5;
    flex: 1;

    & h1 {
      font-size: 1.5rem;
      line-height: 1;
      margin: 0 0 1rem;
    }

    & .button {
      color: white;
      text-decoration: unset;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  & .cover-wrapper {
    margin-top: 0.75rem;
    flex: 1.5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;

    & img {
      display: inline-block;
      width: 100%;
      aspect-ratio: 16 / 9;
      border-radius: 4px;
    }
  }
}

@media (max-width: 425px) {
  .summary .cover-wrapper {
    /* display: flex;
    flex-wrap: nowrap;
    gap: 0;
    overflow-x: auto;
    margin: 0 -16px;
    order: 1; */
    display: none;
  }

  /* .summary .paragraph-wrapper {
    order: 2;
  } */

  /* .summary .cover-wrapper img {
    flex-shrink: 0;
    width: 90vw;
    border-radius: 0;
  } */
}
