.updates {
  margin: 56px 0;
  line-height: 1.5;

  & section {
    margin-bottom: 56px;

    & h1 {
      font-size: 1.25rem;
      margin: 1rem 0;
      position: relative;

      &::before {
        content: '#';
        position: absolute;
        left: -0.75em;
        opacity: 0;
      }

      &:hover {
        text-decoration: underline;

        &::before {
          opacity: 1;
        }
      }
    }

    & h2 {
      font-size: 1rem;
      margin: 1rem 0;
    }

    & ul,
    ol {
      padding-left: 2em;
    }

    /* date of update */
    & p > em {
      font-weight: bold;
      opacity: 0.7;
      font-style: normal;
    }

    & img {
      max-width: 100%;
    }
  }
}
