.preview {
  padding-top: var(--detail-wrapper-gap);

  & > h1 {
    font-size: 1.25rem;
    position: relative;
    width: fit-content;
    margin-top: 0;

    &:hover::before {
      opacity: 1;
    }

    &::before {
      content: '#';
      position: absolute;
      left: -0.75em;
      color: #999;
      transition: 0.2s;
      opacity: 0;
      user-select: none;
    }

    & a {
      color: inherit;
      text-decoration: unset;
    }
  }

  & .content-wrapper {
    display: flex;
    gap: 32px;

    & .paragraph-wrapper {
      line-height: 1.5;
      flex: 1.5;

      & h1 {
        font-size: 1rem;
        line-height: 1;
        margin: 0 0 1rem;
      }

      & .button-wrapper {
        & a {
          color: #f5edea;
          font-weight: bold;
          text-decoration: unset;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    & figure {
      margin: 0;
      flex: 1;

      & img {
        width: 100%;
        aspect-ratio: 16 / 9;
      }
    }
  }
}

@media (max-width: 425px) {
  .detail .content-wrapper {
    flex-direction: column;

    & .paragraph-wrapper {
      max-width: 100%;
    }
  }
}
