.introduction {
  & > h1 {
    font-size: 1.5rem;
    position: relative;
    width: fit-content;
    margin-top: 0;
  }

  & .content-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 40px;

    @media (max-width: 425px) {
      & {
        flex-direction: column;
      }
    }

    & .paragraph-wrapper {
      line-height: 1.5;
      flex: 1.5;
      margin-top: -6px;
      text-align: justify;

      & h1 {
        font-size: 1.5rem;
        margin: 0 0 -0.5rem;
      }

      & p {
        font-size: 1.25rem;
      }

      & .button-wrapper {
        & a {
          color: #f5edea;
          font-weight: bold;
          text-decoration: unset;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    & .cover-wrapper {
      margin: 0;
      flex: 1;

      & img {
        width: 100%;
        aspect-ratio: 16 / 9;
        vertical-align: top;
      }
    }
  }
}
