.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 24px;
  box-sizing: border-box;
  width: 100%;
  height: var(--header-height);
  padding: 0 32px;
  color: #eee;
  background-color: #000000cc;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  z-index: 1;

  /* website title */
  & h1 {
    font-size: 1rem;
    margin: 0;

    & a {
      color: inherit;
      text-decoration: unset;
    }
  }

  /* view navigation */
  & .view-nav {
    display: flex;

    & a {
      color: inherit;
      text-decoration: none;
      height: 56px;
      line-height: 56px;
      padding: 0 0.5em;
      display: inline-flex;
      align-items: center;

      &.active {
        font-weight: bold;
      }

      &:hover {
        opacity: 0.7;
      }

      & img {
        width: 20px;
        height: 20px;
        transform: translate3d(2px, 1px, 0);
      }
    }
  }

  /* link navigation */
  & .link-nav {
    margin-left: auto;

    /* fine-tune the Developer icon size. */
    & li:first-child img {
      transform: scale(1.3);
    }
  }
}
