body {
  /* GLOBAL CUSTOM CSS ATTRIBUTE */
  --serif: Georgia, 'Times New Roman', 'Source Han Serif', 'Source Han Serif SC',
    serif;
  --sans: 'Helvetica Neue', Helvetica, 'Source Han Sans' 'Source Han Sans SC',
    'Microsoft Yahei', sans-serif;
  --monospace: 'Cascadia Code', Monaco, Consolas, monospace;
  --header-height: 56px;
  --detail-wrapper-gap: 56px;
  /* unnormal */
  margin: 0;
  background-color: #080b10;
  overflow-x: hidden;
  /* font */
  font-family: var(--sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  color: #eee;
}

main {
  box-sizing: content-box;
  max-width: 1080px;
  padding: 16px;
  margin: 32px auto 0;
}
