:root {
  /* GLOBAL CUSTOM CSS ATTRIBUTE */
  --serif: Georgia, 'Times New Roman', 'Source Han Serif', 'Source Han Serif SC',
    serif;
  --sans: 'Helvetica Neue', Helvetica, 'Source Han Sans' 'Source Han Sans SC',
    'Microsoft Yahei', sans-serif;
  --monospace: 'Cascadia Code', Monaco, Consolas, monospace;
  --page-background-color: #080b10;
  --page-font-color: #eee;
  --primary-color: #fff;
  --footer-background-color: #0e131b;
  --header-height: 56px;
  --main-wrapper-gap: 56px;
  --detail-wrapper-gap: 64px;
}

html {
  scroll-behavior: smooth;
}

body {
  /* unnormal */
  margin: 0;
  background-color: var(--page-background-color);
  /* font */
  font-family: var(--sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1;
  color: var(--page-font-color);
}

main {
  max-width: 1080px;
  min-height: calc(100vh - var(--header-height) - var(--main-wrapper-gap) * 2);
  padding: 0 32px;
  margin: var(--main-wrapper-gap) auto;
}

.typography {
  line-height: 1.5;

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 1rem 0;
  }

  & h1 {
    font-size: 2rem;
  }

  & h2 {
    font-size: 1.75rem;
  }

  & h3 {
    font-size: 1.5rem;
  }

  & h4 {
    font-size: 1.25rem;
  }

  & h5 {
    font-size: 1rem;
  }

  & h6 {
    font-size: 1rem;
    font-weight: normal;
  }

  & p {
    font-size: 1rem;
    margin: 0 0 1rem 0;
  }

  & img {
    display: block;
    max-width: 100%;
    max-height: 80vh;
    margin: 0 auto;
  }
}

.err {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f44336;
  z-index: 1000;
  box-sizing: border-box;
  padding: 32px;
  font-size: 2rem;
  line-height: 1.5;
}
