.banner {
  user-select: none;
  margin-bottom: -56px;

  @media (max-width: 425px) {
    & {
      display: none;
    }
  }

  & img {
    display: block;
    width: 100vw;
    aspect-ratio: 49 / 20;
  }
}
