.banner {
  user-select: none;
  margin-top: calc(0 - var(--header-height));
}

.banner img {
  display: block;
  width: 100%;
  aspect-ratio: 49 / 20;
}

@media (max-width: 425px) {
  .banner {
    display: none;
  }
}
